.portafolio-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(600px, 1fr));
    display: block;
}

.portafolio-container img {
    width: 485px;
    aspect-ratio: 1/1;
    object-fit: cover;
    vertical-align: top;
}
